<template>
    <require from='./nav-bar.html'></require>

    <nav-bar router.bind="router"></nav-bar>

    <div class="page-host" show.bind="!mapVisible">
        <router-view></router-view>
    </div>

    <div id="globe" class="page-host" 
         style="visibility: ${mapVisible ? 'visible' : 'hidden'}">
        <div id="buttonsDiv">
            <button id="rotateAntiClockwiseSpan" title="Rotate 90°">x</button>
            <button id="indicatorSpan"></button>
            <button id="rotateClockwiseSpan" title="Rotate 90°">y</button>
            <button id="tiltzoom" title="Rotate 90°">z</button>
        </div>
    </div>
</template>
